name: CI-CD Pipeline with GitOps

on:
  push:
    branches:
      - main

jobs:

  build-test:
    name: Build & Test App
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Install dependencies
        run: |
          pip install -r requirements.txt

      - name: Run basic tests
        run: |
          echo "No test suite yet. Running syntax check..."
          python -m py_compile app/app.py

  docker-build-push:
    name: Build & Push Docker Image
    runs-on: ubuntu-latest
    needs: build-test

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build Docker image
        run: |
          IMAGE_TAG=v${{ github.run_number }}
          echo "IMAGE_TAG=$IMAGE_TAG" >> $GITHUB_ENV
          docker build -t ${{ secrets.DOCKERHUB_USERNAME }}/devops-python-app:$IMAGE_TAG .

      - name: Push image to Docker Hub
        run: |
          docker push ${{ secrets.DOCKERHUB_USERNAME }}/devops-python-app:$IMAGE_TAG

      - name: Save image tag for GitOps job
        run: echo "IMAGE_TAG=${{ env.IMAGE_TAG }}" >> $GITHUB_ENV

  update-gitops:
    name: Update GitOps Repo
    runs-on: ubuntu-latest
    needs: docker-build-push

    steps:
      - name: Checkout GitOps repo
        uses: actions/checkout@v3
        with:
          repository: Gokulk-306/devops-app-gitops
          token: ${{ secrets.GH_PAT }}

      - name: Update deployment.yaml with new image tag
        run: |
          sed -i "s|image:.*|image: ${{ secrets.DOCKERHUB_USERNAME }}/devops-python-app:${{ env.IMAGE_TAG }}|" k8s/deployment.yaml

      - name: Commit & Push updated manifest
        run: |
          git config --global user.name "github-actions"
          git config --global user.email "actions@github.com"
          git add k8s/deployment.yaml
          git commit -m "GitOps Update: Deploy image ${{ env.IMAGE_TAG }}"
          git push